*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root{
  height: 100%;
  width: 100%;
}

html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.create-post-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 100%;
  width: 100%;
  padding-top: 150px;
  background-color: #dfddda;

}

.create-post-section form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.create-post-section input,textarea{
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-post-section button{
  background-color: rgb(40, 184, 40);
  padding: 10px;
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
}

.feed-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20;
  /* height: 100%; */
  width: 100%;
  background-color: #f0f2f5;
  padding: 10px;
  padding-bottom: 50px;
  margin-bottom: 40px;
}

.post-card{
  background-color: rgba(255, 255, 255, 0.672);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 20px;
}

.post-card img{
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

.post-card h3{
  margin-bottom: 10px;
}

.bottom-bar{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  flex-direction: row;
  align-items: center;
  /* box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1); */
}

.bottom-bar button{
  height: 40px;
  width: 50px;
  border-radius: 30%;
  border: 0;
  box-shadow: 0 2 4 rgba(0, 0, 0, 0.1);
  color: rgb(225, 103, 103);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}